header {
    padding: 0 30px;
    background: $color-header;
    border-top: none;
    box-shadow: none;
    height: 52px;

    display: flex !important;
    flex-direction: row;
    justify-content: space-between;

    .logo {
        display: flex;
    }

    .header-setting {
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;

        .btn-group {
            align-items: center;
            justify-content: space-between;
            display: flex !important;
            flex-direction: row;

            button {
                height: 40px;
                width:150px;
            }
        }
    }

}